.homepageContainer{
    overflow-x: hidden;
}
.heroContents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 40px 0px 20px 45px;
    /* width: 90%; */
    margin: auto;
    row-gap: 1rem;
}
.comicImg{
    height: 270px;
    object-fit: cover;
}
.item{
    position: relative;
    height: fit-content;
}
.imgText{
    position: absolute;
    background-color: brown;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color:#00132F80;
    color: white;
    padding: 0.2rem 0.5rem;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3rem;
    gap: 0.9rem;
}
.comicName{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    /* margin-right: 2rem; */
}
.comicName img{
    height: 30px;
}
.comicName p{
    font-size: 0.9rem;
    max-width: 3.5rem;
    /* background-color: orange; */
}
.price{
    align-items: center;
    /* background-color: blue; */
    width: 4rem;
    margin: auto;
}
.imgText button{
    background-color: #FFC700;
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    border-radius: 3rem;
    font-size: 1.1rem;
}
.heroText{
    grid-column: 2 / 4;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.heroText h3{
   font-size: 4rem; 
   font-family:Georgia, 'Times New Roman', Times, serif;
   line-height: 3.5rem;
}
.heroText p{
    font-size: 1rem;
    max-width: 350px;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0.5rem;
}
.heroText button{
    background-color: rgb(223, 30, 62);
    margin-top: 0.5rem;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
}

/* ---------------------------------------------------------------LATEST COMIC SECITON------------------------------------ */
.latestComicContainer {
    margin-top: 30px ;
    border-bottom: 1px solid black;
}
.latestComicContainer > h2{
    margin-left: 3rem;
}
.latestComic {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    height: 550px;
}
.latestComic .part1{
    background-color: #FFFDEA;
    padding: 2rem 4rem;
    /* padding-left: 4rem; */
    border-right: 3px solid gray;
    height: 100%;
    /* width: 100%; */
}
.latestComicImg{
    background-color: #FFC700;
    padding: 1rem 2rem;
    box-shadow: 5px 5px;
}
.latestComicImg img{
    /* height: 400px; */
    width: 350px;
    object-fit: cover;
    border-radius: 0.8rem;
}
.latestComicPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.latestComicPrice button{
    background-color: #FB1A1A;
    padding: 0.6rem 1.5rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 0.8rem;
}
.latestComic .part2{
    background-color: #FFFBCE;
    height: 100%  !important;
    padding: 5rem 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    /* overflow: hidden; */
}
.latestComicDetails{
    height: 100%;
}
#releaseDate{
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.latestComic .part2 h1{
    font-size: 2.8rem;
    max-width: 200px;
    margin: 0.5rem 0;
    line-height: 3rem;
}
#description{
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
}
#comicDesc{
    margin-top: 1.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3rem;
    width: 450px;
}
.newLabel{
    position: relative;
    /* background: hotpink; */
    width: fit-content;
    margin-top: 3rem;
    margin-left: 70%;
}
.newLabel img{
    height: 50px;
}
.newLabel p{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
}

/* --------------------------------------------CATEGORY SECTION-------------------------------------- */
.categoryContainer{
    padding: 4rem;
    /* background-color: indigo; */
    margin-top: 1rem;
}
.categoryContainer > h2{
    margin-bottom: 3rem;
}
.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.category{
    position: relative;
}
.categoryOverlay{
    background: transparent;
    /* transparen */
    /* height: 100%; */
    z-index: -200;
    /* background: orange; */
}
.categories img{
    height: 250px;
    z-index: 300;
    /* background: linear-gradient(green, green); */
    
}
.category p{
    position: absolute;
    bottom: 15px;
    background-color:#00132F80;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    text-align: center;
    margin-left: 1rem;
    padding: 1rem 2rem;
    display: block;
    border-radius: 3rem;
}
